.chat-main
  .main-header
    .main-header-left-box
      %ul.title
        = @group.name
        %li.members
          Member：
          - @group.users.each do |member|
            = member.name 
    .main-header-right-box
      = link_to edit_group_path(@group), class:"edit" do
        Edit

  .messages
    = render @messages

  .footer
    = form_for [@group, @message], html: {class: 'form' } do |f|
      .input-box
        = f.text_field :content, class: "input-box__content", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "input-box__image__file"
      = f.submit 'Send', class: 'submit-button'