.side-bar
  .side-header
    .side-header-box
      %h3.side-header-box__user-name
        = current_user.name
      %ul.side-header-box__menu
        %li.side-header-box__menu__list
          = link_to new_group_path do
            = icon('fa', 'edit',class: 'icon')
        %li.side-header-box__menu__list
          = link_to edit_user_path(current_user) do
            = icon('fa', 'cog',class: 'icon')
      
  .side-group
    - current_user.groups.each do |group|
      .side-group-box
        = link_to group_messages_path(group) do
          .side-group-box__group-name
            = group.name
          .side-group-box__group-latest-message
            = group.show_last_message